
<div class="main">
    <div class="main_bg">

        <h2 class="main_txt">Softwarehouse</h2>
    </div>

    <button id="panelBtn" routerLink="/adm_dashboard">Panel Administratora</button>

    <div id="searchBtn" style="justify-content: center">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj</button>
        <input class="main_search" type="text" [(ngModel)]="this.mainService.productsRequest.name">

    </div>
    <div>
      <button id="cartBtn" routerLink="/cart">
        {{getCartQuanity()}}
      </button>
</div>


